<h1>Edit Post</h1>

<form class="" action="<%= posts_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title<input type="text" name="post[title]" value="<%= post.title %>"></label>
  <label>Content<textarea name="post[content]" value="<%= post.content %>"></textarea></label>
  <input type="submit" name="" value="Update Post">

</form>
